Source: liboptimization0-dispatchers
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               liboptimization-dev
Standards-Version: 3.8.0
Section: science
Homepage: http://birg.epfl.ch

Package: liboptimization0-dispatchers
Section: science
Architecture: any
Depends: liboptimization0-dispatchers-webots
Description: Optimization dispatchers
 Optimization dispatchers meta package
 
Package: liboptimization0-dispatchers-webots
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Optimization webots dispatcher
 Optimization dispatcher for webots simulations
