Source: liboptimization2-dispatchers-webots
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               liboptimization2-dev (>= 2.4),
               libtool
Standards-Version: 3.8.0
Section: science
Homepage: http://birg.epfl.ch

Package: liboptimization2-dispatchers-webots
Section: science
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liboptimization2 (>= 2.4)
Description: Optimization webots dispatcher
 Optimization dispatcher for webots simulations
